.content {
    grid-column: center-start / center-end;
    grid-row: 2;
    padding: var(--padding-sm);
    display: grid;
    grid-template-columns: minmax(300px, 670px) 1fr;
    grid-gap: var(--padding-sm);
}

.carousel {
    grid-column: 1;
    overflow: hidden;
    border-radius: var(--border-radius-sm);
    /* padding: var(--padding-sm); */
    background-color: inherit;
    height: 400px;
    box-shadow: var(--shadow-material);
}

.img {
    object-fit: cover;
}

.desc {
    grid-column: 2;
}

.title {
    background-color: var(--color-light-green-md);
    margin: 0;
    display: inline-block;
}

.subtitle {
    margin: 0;
    display: inline-block;
}



@media screen and (max-width: 768px) {
    .carousel {
        grid-column: 1 / -1;
    }

    .desc {
        grid-row: 2;
        grid-column: 1 / -1;
    }

    .carousel {
        padding: 0;
    }
}
