.header {
  grid-column: center-start / 4;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  .heading {
    font-size: 2.5rem;
    margin-right: var(--margin-sm);
    background-color: var(--color-light-green);
    margin: 0;
  }

.link {
    margin-left: 1.5rem;
    padding: 1rem;
    border-radius: var(--border-radius-sm);
    box-shadow: var(--shadow-material-green);
    text-transform: uppercase;
}

.search {
  grid-row: 1;
  grid-column: 4 / center-end;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.searchInput {
  border: 0;
  padding: 1rem;
  border-radius: var(--border-radius-sm);
  box-shadow: var(--shadow-material-green);
}

.searchBtn {
  padding: 1rem;
  border-radius: var(--border-radius-sm);
  box-shadow: var(--shadow-material-green);
  cursor: pointer;
  margin-left: 1rem;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {

  .heading {
    flex-basis: 100%;
    text-align: center;
    margin-bottom: 1rem;
  }

  .header {
    grid-column: center-start / center-end;
    align-self: start;
  }

  .search {
    grid-row: 2;
    grid-column: center-start / center-end;
  }

}