.nav {
    grid-column: center-start / center-end;
    grid-row: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  .heading {
    font-size: 2.5rem;
    margin-right: var(--margin-sm);
    background-color: var(--color-light-green);
  }

.link {
    backdrop-filter: blur(5px);
    margin-left: 1rem;
    padding: 1rem;
    border-radius: 20px;
    box-shadow: 35px 35px 68px 0px rgba(179, 240, 148, 0.5), inset -8px -8px 16px 0px rgba(179, 240, 148, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {

  .heading {
    flex-basis: 100%;
    text-align: center;
  }

}